<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Aplikacja do hospitowania zajeć</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div th:replace="/fragments/sidebar"></div>


<section class="home-section">
    <div th:replace="/fragments/header"></div>

    <p align="center" th:id="title"><strong>Twoje hospitacje: </strong></p>
    <div class="home-content">
        <table class="styled-table">
            <tbody>

            <tr th:each="hospitation: ${hospitations} ">
                <td>
                    <ol>
                        <li><span>Hospitacja nr: </span><span th:text="${hospitation.id}"></span></li>
                        <li><span>Data hospitacji: </span><span th:text="${hospitation.hospitationDate}"></span></li>
                        <li><span>Status: </span> <span th:text="${hospitation.status}"></span></li>
<!--                        <li><span>Status: </span> <span th:text="${hospitation.form?.opoznienieRozpoczeciaZajec}"></span></li>-->
                    </ol>
                </td>
                <td>
                    <div th:if="${hospitation.status == 'Nie wypelniony'}">
                        <h4 class="text-center"><a th:href="@{/hospitationForm/(id=${hospitation.id})}">Wypelnij</a></h4>
                    </div>
                    <div th:if="${hospitation.status == 'Oczekuje na potwierdzenie'}">
                        <h4 class="text-center"><a th:href="@{/hospitation/pdfreport}">Wygeneruj pdf</a></h4>
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <li>
                                <h4 class="text-center"><a th:href="@{/hospitationFormAproved/(id=${hospitation.id})}">Potwierdz</a></h4>
                            </li>
                        </div>
                    </div>
                    <div th:if="${hospitation.status == 'Potwierdzony'}">
                        <h4 class="text-center"><a th:href="@{/hospitation/pdfreport}">Wygeneruj pdf</a></h4>
                    </div>
                    <div th:if="${hospitation.status == 'Archiwowany'}">
                        <h4 class="text-center"><a th:href="@{/hospitation/pdfreport/Archiw}">Wygeneruj pdf</a></h4>
                    </div>
<!--                    <div>-->
<!--                        <form id="logoutForm" method="GET" th:action="@{/hospitationForm/}">-->
<!--                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--                        </form>-->
<!--                        <a onclick="document.forms['logoutForm'].submit()"><span class="links_name">Logout</span></a>-->
<!--                    </div>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>