<nav xmlns:sec="http://www.w3.org/1999/xhtml">
  <div class="sidebar-button">
<!--    <i class='bx bx-menu sidebarBtn'></i>-->
    <span class="dashboard">Dashboard</span>
  </div>
<!--  <div class="search-box">-->
<!--    <input type="text" placeholder="Search...">-->
<!--    <i class='bx bx-search' ></i>-->
<!--  </div>-->

  <div class="profile-details">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
      <img th:src="@{/image/admin.jpg}" alt="">
    </div>
    <div sec:authorize="hasRole('ROLE_HOSPITOWANY')">
      <img th:src="@{/image/hospitowany.png}" alt="">
    </div>
    <div sec:authorize="hasRole('ROLE_HOSPITUJACY')">
      <img th:src="@{/image/hospitujacy.png}" alt="">
    </div>
    <span class="admin_name" sec:authentication="name"></span>
<!--    <i class='bx bx-chevron-down' ></i>-->
  </div>
</nav>